In [68]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [84]:
# URL for .csv with avg monthly precip data
url_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

# Download file from URL
df = pd.read_csv(url_deaths, index_col=0).reset_index()
df.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2721,2730,2733,2742,2745,2751,2762,2772,2782,2792
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2426,2427,2429,2432,2435,2436,2438,2440,2441,2442
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3355,3360,3366,3374,3381,3388,3395,3401,3405,3411
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,649,651,655,659,677,685,696,704,709,715

In [85]:
df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
count,273.000000,273.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,...,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000
mean,20.534804,23.028143,0.061818,0.065455,0.094545,0.152727,0.203636,0.298182,0.476364,0.483636,...,12162.112727,12209.854545,12252.214545,12288.905455,12327.596364,12379.410909,12427.934545,12473.912727,12519.538182,12560.000000
std,25.194592,73.596166,1.025139,1.026691,1.449316,2.413152,3.137131,4.583989,7.537884,7.538387,...,51184.320198,51369.076073,51541.364312,51672.439860,51806.886826,52019.974113,52218.215241,52415.166796,52608.231979,52776.185594
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.152149,-19.020800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.500000,8.500000,8.500000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,236.000000,236.000000,236.000000,236.000000,236.000000,245.000000,245.000000,245.000000,245.000000,248.000000
75%,41.112900,84.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3396.000000,3396.500000,3421.000000,3443.500000,3479.000000,3507.500000,3522.500000,3524.000000,3527.500000,3532.500000
max,71.706900,178.065000,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,...,584674.000000,585332.000000,585808.000000,586070.000000,586459.000000,587219.000000,587874.000000,588539.000000,589223.000000,589703.000000

In [86]:
df = df.drop(columns=['Province/State', 'Lat', 'Long'], axis=1)
df.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,2721,2730,2733,2742,2745,2751,2762,2772,2782,2792
1,Albania,0,0,0,0,0,0,0,0,0,...,2426,2427,2429,2432,2435,2436,2438,2440,2441,2442
2,Algeria,0,0,0,0,0,0,0,0,0,...,3355,3360,3366,3374,3381,3388,3395,3401,3405,3411
3,Andorra,0,0,0,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,Angola,0,0,0,0,0,0,0,0,0,...,649,651,655,659,677,685,696,704,709,715

In [96]:
df_transposed = df.T

In [97]:
df_transposed.head().reset_index()

,index,0,1,2,3,4,5,6,7,8,...,265,266,267,268,269,270,271,272,273,274
0,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
df_transposed.columns = df_transposed.iloc[0]

In [99]:
df_transposed.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
df_transposed.drop(['Country/Region'], axis=0, inplace=True)

In [101]:
df_transposed.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0